<%- include('partials/header') %>

    <body class="d-flex align-items-center justify-content-center">

        <ul class="background">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="center-text">
            <h3 class="message  card p-4 bg-light">
                <%= error %>
            </h3>
        </div>
    </body>

    </html>