<%- include('partials/header') %>

    <body class="d-flex align-items-center justify-content-center">

        <div class="center-text">
            <h3 class="message">
                <%= error %>
            </h3>
        </div>
    </body>

    </html>