<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FE Signup!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link rel="stylesheet" href="../css/styles.css" />
</head>

<body class="d-flex align-items-center justify-content-center">


    <div class="col-md-5 col-lg-4 form-div ">
        <form action="/" method="post">

            <div class="form-group ">
                <label for="nameInput">Name</label>
                <input type="text" class="form-control" id="nameInput" placeholder="name">
            </div>
            <div class="form-group ">
                <label for="emailInput">Email</label>
                <input type="email" class="form-control" id="emailInput" placeholder="Email">
            </div>

            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="Password">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="occupationInput">Occupation</label>
                    <select id="occupationInput" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>

            </div>
            <button type="submit" class="btn btn-primary">Submit!</button>
        </form>
    </div>

















</body>




</html>