<%- include('partials/header') %>

    <body class="d-flex align-items-center justify-content-center">

        <ul class="background">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <div class="center-text">
            <h1 class="message card p-4 bg-light">
                Congrates,
                <%= name %>
                    your account has been created!
            </h1>

            <a href="/"> <button class="btn btn-primary friend">Refer a friend</button> </a>

        </div>
    </body>

    </html>